header {
    padding: 75px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.header_text {
    width: 850;
}


nav {
    margin-bottom: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--secondary-text-color);
    text-decoration: none;
    position: relative;
    padding: 3px;
}

nav a:hover {
    color: var(--text-color);
}

nav a::after {
    content: '';
    height: 2px;
    width: 0;
    background: var(--main-brand-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 150ms ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

#toggle_button {
    display: none;
}

label[for="toggle_button"] {
    display: none;
}

label[for="toggle_button"] span {
    font-size: 40px;
}

@media (max-width: 800px) {
    nav {
        position: absolute;
        top: 0;
        left: 0;
        background: var(--secondary-color);
        padding: 15px;
        border-radius: 0 0 25px 0;
    }

    nav ul {
        display: none;
        flex-direction: column;
    }

    #toggle_button:checked ~ ul {
        display: flex;
    }

    label[for="toggle_button"] {
        display: block;
    }
}